<div class="account-header">
  <h2>{{ 'Login' | uppercase }}</h2>
</div>
<div class="row">
  <div class="input-field">
    <input type="text" id="login" [(ngModel)]="login" name="login">
    <label for="login">Login</label>
  </div>
  <div class="input-field">
    <input type="password" name="password" id="password" [(ngModel)]="password"/>
    <label for="password">Password</label>
  </div>
</div>
<div class="row">
  <button type="submit" class="waves-effect waves-light btn indigo" (click)="onSubmit()">Login</button>
</div>
