<nav>
  <div class="nav-wrapper indigo">
    <a href="#!" class="brand-logo">Weather Forecast</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngFor="let item of items">
        <a [routerLink]="item.path ? item.path : '#'" (click)="item.action ? item.action() : null">
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngFor="let item of items">
    <a [routerLink]="item.path ? item.path : '#'" (click)="item.action ? item.action() : null">
      {{ item.name }}
    </a>
  </li>
</ul>
